/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700,300italic);
*, *:before, *:after { box-sizing: border-box; }*/
html { font-size: 100%;  }
body { 
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
 /* background: #d0e6ef;
	color: #666; */
 background:#ebf2f5;
  
}

.wrapper {
  max-width: 75%;
  margin: auto;
}
.wrapperKey{
max-width:75%;
margin:auto;
background:#2c3c47;
	border-radius: 8px;
  border: 1px solid #ddd;

}

h1 { 
  /*color: #0684b8 ;*/
	color;#173c57;
  margin: 3rem 0 1rem 0; 
  padding: 0;
  font-size: 1.5rem;
}

textarea {
  width: 100%;
  min-height: 250px;
  resize: none;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0.5rem;
  color: #0c0d0d;
  box-shadow: inset 0 0 0.25rem #ddd;
  &:focus {
    outline: none;
    border: 1px solid darken(#ddd, 5%);
    box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
  }
  &[placeholder] { 
    font-style: italic;
    font-size: 10px;
  }
}

#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
}


#tab-btn img, #del-btn img, #caps-btn img, #return-btn img,#shift-btn img,#rshift-btn img{
	width: 11;
    height: 11;
  display: block;
  margin-left: auto;
  margin-right: auto;
  



}
#keyboard {
 /* We first create a flex layout context */
  display: flex;
  justify-content: center;
	padding:0;
	margin:0;
	
	width:100%;
	display:flex;
	flex-direction:row;


  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   
  flex-flow: row wrap;
  
 
  
  
  padding: 0;
  margin: 0;
  list-style: none;
  */
}


    #keyboard button {
     background-color: #334552;
 
  color:  #e5e5e5;
 
  text-align: center;
  text-decoration: none;
  display: block;
    /*margin: 0 5px 5px 0;
	width: 40px;*/
    height: 40px;
	font-size: 20px;
	padding:10px;

    line-height: 20px;
    text-align: center;
    /*background: #fff;
    border: 1px solid #f9f9f9;*/
	flex-grow:1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
        .capslock, .tab, .left-shift {
        clear: left;
        }
            #keyboard .tab, #keyboard .delete {
          /*  width: 80px;*/
            }
            #keyboard .capslock {
            /*width: 90px;*/
            }
            #keyboard .return {
            /*width: 87px;*/
            }
            #keyboard .left-shift {
            /*width: 105px;*/
            }
            #keyboard .right-shift {
            /*width: 119px;*/
            }
			#keyboard .igletter{
			  background-color: #173c57;
			
			}
			
        .lastitem {
        margin-right: 0;
        }
        .uppercase {
        text-transform: uppercase;
        }
        #keyboard .space {
        
        width: 100%;
        }
        .on {
        display: none;
        }
        #keyboard button:hover {
        position: relative;
        top: 1px;
        left: 1px;
        border-color: #e5e5e5;
        cursor: pointer;
        }


@media only screen and (max-width:600px){
.wrapperKey{
max-width:100%;

}
#tab-btn,#del-btn, #caps-btn,#return-btn,#shift-btn,#rshift-btn{
font-size: 2px;
  padding:2px;
}

#keyboard button {
  
    
	min-width: 15px;
    height: 22px;
	font-size: 15px;
	padding:1px;
	line-height: 16px;

    }
        .capslock, .tab, .left-shift {
        clear: left;
        }
            #keyboard .tab, #keyboard .delete {
            width: 20px;
            }
            #keyboard .capslock {
            width: 25px;
            }
            #keyboard .return {
            width: 28px;
            }
            #keyboard .left-shift {
            width: 38px;
            }
            #keyboard .right-shift {
            width: 38px;
            }
			#keyboard .igletter {
            width: 13px;
            }
       
     


}
		

		
